HACKPLATE_DB=
HACKPLATE_AUTH=

CORS_ALLOW_ORIGINS=
CORS_ALLOW_CREDENTIALS=
CORS_ALLOW_METHODS=
CORS_ALLOW_HEADERS=

POSTGRES_NAME=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_SSL_REQUIRED=

MONGO_NAME=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_SSL_REQUIRED=
